@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #0ef, #015f66);
    font-weight: 400;
    min-height: 100vh;
    display: grid;
    place-content: center;
	overflow: hidden;
}

.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 500;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0);
    transition: all .3s ease;
}

.overlay-bg.active {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}


.view-payment-info,
.view-collection-info {
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 25px;
	height: 25px;
	font-size: 16px;
	font-weight: 800;
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: linear-gradient(to right, rgba(0, 239, 255, 0.5), rgba(2, 180, 194, 0.8));
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	user-select: none;
	transition: all .3s ease;
	z-index: 300;
}

.view-payment-info.active,
.view-collection-info.active {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition: all .3s ease;
}

.view-payment-info:hover,
.view-collection-info:hover {
	transform: translate(-50%, -50%) scale(.9);
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25),
	inset 1px 1px 1px rgba(255,255,255,0.25),
	inset -1px -1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.payment-info,
.collection-info {
	position: fixed;
	top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(100%);
	width: 1200px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	user-select: none;
	transition: all .3s ease;
}

.payment-info.active,
.collection-info.active {
	top: 50%;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition: all .3s ease;
}

.payment-info h2,
.collection-info h2 {
	position: absolute;
	top: 12px;
	font-size: 20px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
}

.payment-info i,
.collection-info i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
	color: #fc92a8;
	cursor: pointer;
    transform: rotate(180deg) scale(100%);
	transition: all .5s ease;
}

.payment-info i:hover,
.collection-info i:hover {
	color: #f26683;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.70);
	transform: rotate(180deg) scale(90%);
}

.payment-info .payment-border,
.collection-info .collection-border {
	position: absolute;
	top: 10%;
	width: 95%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

.payment-border .payment-table,
.collection-border .collection-table {
	margin: 10px;
	border-spacing: 3px;
}

.payment-border .payment-thead-row,
.collection-border .collection-thead-row {
	position: fixed;
	top: 10%;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.payment-border .payment-header,
.collection-border .collection-header {
	position: relative;
	height: 50px;
	width: 150px;
	font-size: 10px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
	text-align: center;
	border-radius: 4px;
	background: linear-gradient(to right, rgba(0, 239, 255, .6), rgba(2, 180, 194, .8));
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.payment-border .payment-td,
.collection-border .collection-td {
	position: relative;
	height: 50px;
	width: 60px;
	font-size: 9px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
	text-align: center;
	border-radius: 3px;
	background: linear-gradient(to right, rgba(0, 239, 255, .2), rgba(2, 180, 194, .3));
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.payment-border .payment-td.paid,
.collection-border .collection-td.paid {
    color: rgba(0, 128, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
}

.payment-border .payment-td.unpaid,
.collection-border .collection-td.unpaid {
    color: rgba(255, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
}

.payment-border::-webkit-scrollbar,
.collection-border::-webkit-scrollbar {
    width: 8px;
}

.payment-border::-webkit-scrollbar-track,
.collection-border::-webkit-scrollbar-track {
    background: #f5f5f5;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25),
	inset 1px 1px 1px rgba(255,255,255,0.25),
	inset -1px -1px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.payment-border::-webkit-scrollbar-thumb,
.collection-border::-webkit-scrollbar-thumb {
    background: #888;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25),
	inset 1px 1px 1px rgba(255,255,255,0.25),
	inset -1px -1px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.payment-border::-webkit-scrollbar-thumb:hover, 
.collection-border::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.user-wallet-button {
	opacity: 0;
	visibility: hidden;
}

.user-payments-content {
	position: absolute;
	top: 15%;
	left: 10%;
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
}

.user-payments-content .user-payments-form {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
}

.user-payments-form .user-payments-buttons {
	position: absolute;
	top: -20px;
	left: 10%;
	width: 80%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
	gap: 20px;
	transition: all .3s ease;
	z-index: 91;
}

.payments-manager-button {
	position: relative;
	width: 110px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #0ef, #02b4c2);
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	transform: scale(90%);
	transition: all .3s ease;
}

.payments-manager-button.active {
	transform: scale(110%);
}

.payments-manager-button .notification-dot {
	position: absolute;
	top: -.5px;
	right: -.5px;
	width: 10px;
	height: 10px;
	background: #fc5353;
    border-radius: 90px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2),
		inset 1px 1px 1px rgba(255,255,255,0.5),
		inset -1px -1px 1px rgba(0,0,0,0.2);
	transition: all .3s ease;
}

.payments-manager-button:hover {
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.collect-manager-button {
	position: relative;
	width: 110px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #5ef75e, #3a943a);
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	transform: scale(90%);
	transition: all .3s ease;
}

.collect-manager-button.active {
	transform: scale(110%);
}

.collect-manager-button .notification-dot {
	position: absolute;
	top: -.5px;
	right: -.5px;
	width: 10px;
	height: 10px;
	background: #fc5353;
    border-radius: 90px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2),
		inset 1px 1px 1px rgba(255,255,255,0.5),
		inset -1px -1px 1px rgba(0,0,0,0.2);
	transition: all .3s ease;
}

.collect-manager-button:hover {
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.user-payments-content {
	position: absolute;
	top: 15%;
	left: 10%;
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
}

.user-payments-content .user-payments-form {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
}

.user-payment-manager {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%) scale(100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 90;
	opacity: 0;
	visibility: hidden;
    transition: all .3s ease;
}

.user-payment-manager.active {
	opacity: 1;
	visibility: visible;
	transition: all .3s ease;
}


.user-payment-manager .slide-container {
	position: absolute;
	width: 455px;
}

.user-payment-manager .slide-content {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	padding: 10px 10px;
	margin: 30px 40px;
	overflow: hidden;
	transition: all .3s ease;
}

.empty {
	position: relative;
	left: 10%;
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
}

.empty .animated-dots {
	position: relative;
}

.dots::after {
	content: "";
	position: absolute;
	top: -10px;
	right: -25px;
	display: inline-block;
	width: 20px;
	height: 20px;
	animation: dots 1.5s steps(4, end) infinite;
	opacity: 0.5;
	transition: opacity 0.5s;
}

@keyframes dots {
	0% {
		content: "";
		opacity: 0.5;
		font-size: 25px;
	}
	25% {
		content: ".";
		opacity: 1;
		font-size: 25px;
	}
	50% {
		content: "..";
		opacity: 1;
		font-size: 25px;
	}
	75% {
		content: "...";
		opacity: 1;
		font-size: 25px;
	}
	100% {
		content: "";
		opacity: 0.5;
		font-size: 25px;
	}
}

.user-payment-manager .card {
	position: relative;
	width: 320px;
	height: 500px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.user-payment-manager .profile-pic {
	position: absolute;
	top: -2%;
	left: -2.5%;
	width: 180px;
	height: 180px;
	transform: scale(80%);
}

.user-payment-manager .image-content {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	font-size: 11px;
}

.image-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	row-gap: 10px;
}

.overlay {
	position: absolute;
	height:100%;
	width: 100%;
	background: linear-gradient(to right, #0ef, #02b4c2);
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.card-content {
	row-gap: 5px;
}

.card-image {
	position: relative;
	height: 130px;
	width: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	padding: 2px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
		inset 1px 1px 2px rgba(255,255,255,0.25),
		inset -1px -1px 2px rgba(0,0,0,0.5);
}

.card-image .card-img {
	height: 120px;
	width: 120px;
	font-size: 8px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 3px solid #0ef;
	background: none;
	background: url('<?php echo $profilePicturePath; ?>') center center;
	background-size: cover;
	overflow: hidden;
}

.card-image .card-img img {
    max-width: 180%;
    max-height: 180%;
}

.user-payment-manager .lend-date {
	position: relative;
	bottom: -18%;
	left: 10%;
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	font-size: 10px;
	font-weight: 600;
	z-index: 90;
}

.user-payment-manager .lendername {
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	font-size: 10px;
	font-weight: 600;
	z-index: 90;
}

.user-payment-manager .card-content {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	font-size: 11px;
}

.card-details {
	position: relative;
	top: 7%;
	height: 420px;
	transform: scale(85%);
	pointer-events: none;
}

.card-content .details {
	position: relative;
	display: flex;
    margin-bottom: 10px;
	height: 30px;
    margin: 4px 0;
}

.details label {
	position: relative;
	top: -65px;
	left: 37%;
	width: 60%;
	height: 100%;
	border: none;
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	background: transparent;
	padding: 2.5px 20px;
	font-size: 9px;
	font-weight: 600;
}

.details input {
	position: relative;
	top: -72.5px;
	right: -10%;
	width: 40%;
	height: 100%;
	border: none;
	background: transparent;
	padding: 0 20px;
	font-size: 11px;
	color: rgba(0, 0, 0, .50);
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
}

.details input::placeholder {
	color: rgba(0, 0, 0, .50);
}

.payments {
	position: absolute;
	bottom: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 270px;
	background: linear-gradient(to right, #0ef, #02b4c2);
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	pointer-events: none;
	user-select: none;
}

.payments .payments-form {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.payments .payments-form h2 {
	position: absolute;
	top: 0;
	height: 50px;
	color: rgba(255, 255, 255, .90);
	width: 100%;
	display: flex;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0px 0px;
	background: linear-gradient(to right, #5ef75e, #3a943a);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.payments-content {
	position: relative;
	top: 70px;
	bottom: 5%;
	height: 180px;
	width: 320px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	pointer-events: auto;
	user-select: none;
	cursor: default;
}

.payments-content::-webkit-scrollbar {
    width: 8px;
}

.payments-content::-webkit-scrollbar-track {
    background: #f5f5f5;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25),
	inset 1px 1px 1px rgba(255,255,255,0.25),
	inset -1px -1px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.payments-content::-webkit-scrollbar-thumb {
    background: #888;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25),
	inset 1px 1px 1px rgba(255,255,255,0.25),
	inset -1px -1px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.payments-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.payments-content .payment-card {
	position: relative;
	left: 2.5%;
	width: 95%;
	height: 40px;
	display: flex;
	font-size: 8px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.75);
	padding: 20px 10px;
	flex-direction: row;
	align-items: center;
	text-align: left;
	border-radius: 5px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	pointer-events: auto;
	user-select: none;
}

.payment-card .paydate {
	left: 10px;
	width: 25px;
	height: 25px;
	font-size: 10px;
	font-weight: 600;
	background: linear-gradient(to right, #02adba, #015f66);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
	pointer-events: auto;
	transition: all .3s ease;
}

.payment-card .month {
	width: 100px;
	height: 25px;
	font-size: 9px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	border-radius: 4px;
	background: linear-gradient(to right, rgba(0, 239, 255, 0.5), rgba(2, 180, 194, 0.8));
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.payment-card .interest {
	width: 70px;
	height: 25px;
	font-size: 9px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	border-radius: 4px;
	background: linear-gradient(to right, rgba(0, 239, 255, 0.5), rgba(2, 180, 194, 0.8));
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.payment-card .status-paid {
	position: absolute;
	right: 10px;
	width: 50px;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.payment-card .status-paid i {
	font-size: 20px;
	margin: 5px;
	background: linear-gradient(to right, #5ef75e,  #015f66);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.payment-card .status-paid p {
	font-size: 10px;
	font-weight: 600;
	margin-left: -5px;
	background: linear-gradient(to right, #5ef75e,  #015f66);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.payment-card .pay {
	position: absolute;
	right: 10px;
	position: absolute;
	width: 40px;
	height: 22.5px;
	font-size: 10px;
	font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
    border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
    cursor: pointer;
	background: linear-gradient(to right, #4dc1fa, #02adba);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.payment-card .pay:hover {
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
		inset 1px 1px 2px rgba(255,255,255,0.25),
		inset -1px -1px 2px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.user-payment-manager .swiper-navBtn {
	font-size: 10px;
	font-weight: 800;
	transform: scale(.9);
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
	transition: all .3s ease;
}

.user-payment-manager .swiper-navBtn:hover {
	transform: scale(.7);
	transition: all .3s ease;
}

.user-collect-manager {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%) scale(100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 90;
	opacity: 0;
	visibility: hidden;
    transition: all .3s ease;
}

.user-collect-manager.active {
	opacity: 1;
	visibility: visible;
	transition: all .3s ease;
}

.user-collect-manager .slide-container {
	position: absolute;
	width: 455px;
}

.user-collect-manager .slide-content {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	padding: 10px 10px;
	margin: 30px 40px;
	overflow: hidden;
	transition: all .3s ease;
}

.empty {
	position: relative;
	left: 10%;
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
}

.empty .animated-dots {
	position: relative;
}

.dots::after {
	content: "";
	position: absolute;
	top: -10px;
	right: -25px;
	display: inline-block;
	width: 20px;
	height: 20px;
	animation: dots 1.5s steps(4, end) infinite;
	opacity: 0.5;
	transition: opacity 0.5s;
}

@keyframes dots {
	0% {
		content: "";
		opacity: 0.5;
		font-size: 25px;
	}
	25% {
		content: ".";
		opacity: 1;
		font-size: 25px;
	}
	50% {
		content: "..";
		opacity: 1;
		font-size: 25px;
	}
	75% {
		content: "...";
		opacity: 1;
		font-size: 25px;
	}
	100% {
		content: "";
		opacity: 0.5;
		font-size: 25px;
	}
}

.user-collect-manager .card {
	position: relative;
	width: 320px;
	height: 500px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.user-collect-manager .profile-pic {
	position: absolute;
	top: -2%;
	left: -2.5%;
	width: 180px;
	height: 180px;
	transform: scale(80%);
}

.user-collect-manager .image-content {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	font-size: 11px;
}

.image-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	row-gap: 10px;
}

.overlay {
	position: absolute;
	height:100%;
	width: 100%;
	background: linear-gradient(to right, #0ef, #02b4c2);
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.card-content {
	row-gap: 5px;
}

.card-image {
	position: relative;
	height: 130px;
	width: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	padding: 2px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
		inset 1px 1px 2px rgba(255,255,255,0.25),
		inset -1px -1px 2px rgba(0,0,0,0.5);
}

.card-image .card-img {
	height: 120px;
	width: 120px;
	font-size: 8px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 3px solid #0ef;
	background: none;
	background: url('<?php echo $profilePicturePath; ?>') center center;
	background-size: cover;
	overflow: hidden;
}

.card-image .card-img img {
    max-width: 180%;
    max-height: 180%;
}

.user-collect-manager .lend-date {
	position: relative;
	bottom: -18%;
	left: 10%;
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	font-size: 10px;
	font-weight: 600;
	z-index: 90;
}

.user-collect-manager .lendername {
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	font-size: 10px;
	font-weight: 600;
	z-index: 90;
}

.user-collect-manager .card-content {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	font-size: 11px;
}

.card-details {
	position: relative;
	top: 7%;
	height: 420px;
	transform: scale(85%);
	pointer-events: none;
}

.card-content .details {
	position: relative;
	display: flex;
    margin-bottom: 10px;
	height: 30px;
    margin: 4px 0;
}

.details label {
	position: relative;
	top: -65px;
	left: 37%;
	width: 60%;
	height: 100%;
	border: none;
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	background: transparent;
	padding: 2.5px 20px;
	font-size: 9px;
	font-weight: 600;
}

.details input {
	position: relative;
	top: -72.5px;
	right: -10%;
	width: 40%;
	height: 100%;
	border: none;
	background: transparent;
	padding: 0 20px;
	font-size: 11px;
	color: rgba(0, 0, 0, .50);
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
}

.details input::placeholder {
	color: rgba(0, 0, 0, .50);
}

.collections {
	position: absolute;
	bottom: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 270px;
	background: linear-gradient(to right, #0ef, #02b4c2);
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.collections .collections-form {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.collections .collections-form h2 {
	position: absolute;
	top: 0;
	height: 50px;
	color: rgba(255, 255, 255, .90);
	width: 100%;
	display: flex;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0px 0px;
	background: linear-gradient(to right, #5ef75e, #3a943a);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.collections-content {
	position: relative;
	top: 70px;
	bottom: 5%;
	height: 180px;
	width: 320px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	pointer-events: auto;
	user-select: none;
	cursor: default;
}

.collections-content::-webkit-scrollbar {
    width: 8px;
}

.collections-content::-webkit-scrollbar-track {
    background: #f5f5f5;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25),
	inset 1px 1px 1px rgba(255,255,255,0.25),
	inset -1px -1px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.collections-content::-webkit-scrollbar-thumb {
    background: #888;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25),
	inset 1px 1px 1px rgba(255,255,255,0.25),
	inset -1px -1px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.collections-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.collections-content .collection-card {
	position: relative;
	left: 2.5%;
	width: 95%;
	height: 40px;
	display: flex;
	font-size: 8px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.75);
	padding: 20px 10px;
	flex-direction: row;
	align-items: center;
	text-align: left;
	border-radius: 5px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	pointer-events: auto;
	user-select: none;
}

.collection-card .collection-date {
	left: 10px;
	width: 25px;
	height: 25px;
	font-size: 10px;
	font-weight: 600;
	background: linear-gradient(to right, #02adba, #015f66);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
	pointer-events: auto;
	transition: all .3s ease;
}

.collection-card .month {
	width: 100px;
	height: 25px;
	font-size: 9px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	border-radius: 4px;
	background: linear-gradient(to right, rgba(0, 239, 255, 0.5), rgba(2, 180, 194, 0.8));
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.collection-card .interest {
	width: 70px;
	height: 25px;
	font-size: 9px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	border-radius: 4px;
	background: linear-gradient(to right, rgba(0, 239, 255, 0.5), rgba(2, 180, 194, 0.8));
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.collection-card .status-paid {
	position: absolute;
	right: 10px;
	width: 50px;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.collection-card .status-paid i {
	font-size: 18px;
	margin: 5px;
	background: linear-gradient(to right, #5ef75e,  #015f66);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.collection-card .status-paid p {
	font-size: 9px;
	font-weight: 600;
	margin-left: -5px;
	background: linear-gradient(to right, #5ef75e,  #015f66);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.collection-card .status-unpaid {
	position: absolute;
	right: 10px;
	width: 50px;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.collection-card .status-unpaid i {
	font-size: 18px;
	margin: 5px;
	background: linear-gradient(to right, #ffad33, #b35f5f);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.collection-card .status-unpaid p {
	font-size: 9px;
	font-weight: 600;
	margin-left: -5px;
	background: linear-gradient(to right, #ffad33, #b35f5f);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.monthly-payment-form {
	position: fixed;
	top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(100%);
	width: 340px;
	height: 460px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	padding: 10px 10px;
	margin: 0;
	z-index: 1500;
	opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.monthly-payment-form.active {
	top: 53%;
    opacity: 1;
    visibility: visible;
}

.monthly-payment-form h2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0px 0px;
	color: rgba(255, 255, 255, .95);
	background: linear-gradient(to right, #0ef, #02b4c2);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.monthly-payment-form .inputBox {
	position: relative;
	top: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 20px;
	height: 35px;
	width: 100%;
}

.monthly-payment-form .inputBox1 label {
	position: absolute;
	top: 25%;
	left: 15%;
	width: 30px;
	height: 30px;
	font-size: 12px;
	font-weight: 600;
	background: linear-gradient(to right, #02adba, #015f66);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
}

.monthly-payment-form .inputBox label {
	position: absolute;
	left: -30%;
	font-size: 10px;
	font-weight: 600;
	color: rgba(0, 0, 0, .6);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.monthly-payment-form .inputBox input {
	position: relative;
	right: -30%;
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	padding: 5px 20px;
	font-size: 10px;
	font-weight: 600;
	color: rgba(0, 0, 0, .6);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
}

.interest-payment-buttons {
	position: absolute;
	left: 5%;
	bottom: 5%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20%;
	transition: all .3s ease;
}

.interest-payment-buttons .close {
	width: 30%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #fc5353, #b35f5f);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.interest-payment-buttons .close:hover {
	color: #f79999;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.interest-payment-buttons .pay {
	width: 30%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #5ef75e, #3a943a);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.interest-payment-buttons .pay:hover {
	color: #71f571;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.overlayconfirmation {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(100%);
    width: 101%;
    height: 101%;
    background: rgba(0, 0, 0, 0);
    z-index: 1500;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0);
	border-radius: 10px;
    transition: all .3s ease;
}

.overlayconfirmation.active {
    opacity: 1;
	pointer-events: auto;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);
}

.confirmation-card {
	position: absolute;
	top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(100%);
	width: 320px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	padding: 10px 10px;
	margin: 0;
	z-index: 2000;
	opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.confirmation-card.active {
	top: 50%;
    opacity: 1;
    visibility: visible;
}

.confirmation-card h2 {
	position: absolute;
	top: 0;
	height: 60px;
	width: 100%;
	font-size: 15px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0px 0px;
	color: rgba(255, 255, 255, .95);
	background: linear-gradient(to right, #0ef, #02b4c2);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.confirmation-card h3 {
	position: absolute;
	top: 50%;
    left: 50%;
	width: 80%;
    transform: translate(-50%, -50%) scale(110%);
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	background: linear-gradient(to right, #02adba, #015f66);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0.2);
}

.confirmation-card-buttons {
	position: absolute;
	left: 0;
	bottom: 8%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20%;
	transition: all .3s ease;
}

.confirmation-card-buttons .close {
	width: 30%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #fc5353, #b35f5f);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.confirmation-card-buttons .close:hover {
	color: #f79999;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.confirmation-card-buttons .confirm {
	width: 30%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #5ef75e, #3a943a);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.confirmation-card-buttons .confirm:hover {
	color: #71f571;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.user-collect-manager .swiper-navBtn {
	font-size: 10px;
	font-weight: 800;
	transform: scale(.9);
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
	transition: all .3s ease;
}

.user-collect-manager .swiper-navBtn:hover {
	transform: scale(.7);
	transition: all .3s ease;
}

.user-payments-content .user-payments-wallet {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
}

.user-payments-error {
	position: fixed;
	left: 0;
	bottom: 30px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
	z-index: 3000;
}

.user-payments-error p {
    position: relative;
    font-size: 12px;
    font-weight: 700;
}

.user-payments-error i {
    position: relative;
    font-size: 20px;
}

.user-payments-error .bxs-check-circle { 
	font-size: 22px;
	background: linear-gradient(to right, #219aa3, #015f66);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.user-payments-error .blue {
	background: linear-gradient(to right, #4dc1fa, #02adba);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.user-payments-error .bxs-error-circle { 
	font-size: 22px;
	background: linear-gradient(to right, #fc5353, #b35f5f);
	-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.user-payments-error .red {
	background: linear-gradient(to right, #fc5353, #bf3f3f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
	.user-payments-content {
		left: 5%;
		width: 90%;
	}
	
	.view-payment-info,
	.view-collection-info {
		transform: translate(-50%, -50%) scale(0);
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}
	
	.payment-info,
	.collection-info {
		transform: translate(-50%, -50%) scale(0);
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}
	
	.user-payments-content .user-payments-form {
		width: 100%;
	}
	
	.user-payment-manager .slide-container {
		width: 450px;
		transform: scale(80%);
	}
	
	.user-collect-manager .slide-container {
		width: 450px;
		transform: scale(80%);
	}
	
	.monthly-payment-form {
		transform: translate(-50%, -50%) scale(90%);
	}
	
	.monthly-payment-form.active {
		top: 54%;
		transform: translate(-50%, -50%) scale(90%);
	}
	
	.user-payments-content .user-payments-wallet {
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
	}
}