@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #0ef, #015f66);
    font-weight: 400;
    min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25),
    inset 1px 1px 1px rgba(255, 255, 255, 0.25),
    inset -1px -1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25),
    inset 1px 1px 1px rgba(255, 255, 255, 0.25),
    inset -1px -1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.adminwallet-buttons {
	position: absolute;
	top: 80px;
	width: 300px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5%;
	transition: all .3s ease;
	z-index: 91;
}

.adminwallet-buttons .addmoney-form-button {
	left: 0;
	width: 35%;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #0ef, #02b4c2);
    color: #fff;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transform: scale(90%);
	transition: all .3s ease;
}

.adminwallet-buttons .addmoney-form-button.active {
	transform: scale(110%);
}

.adminwallet-buttons .addmoney-form-button:hover {
	color: #0ef;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.adminwallet-buttons .cashin-manager-button {
	right: 0;
	width: 35%;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #5ef75e, #3a943a);
    color: #fff;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transform: scale(90%);
	transition: all .3s ease;
}

.adminwallet-buttons .cashin-manager-button.active {
	transform: scale(110%);
}

.adminwallet-buttons .cashin-manager-button:hover {
	color: #71f571;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.adminwallet-buttons .cashout-manager-button {
	right: 0;
	width: 35%;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #fc5353, #b35f5f);
    color: #fff;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transform: scale(90%);
	transition: all .3s ease;
}

.adminwallet-buttons .cashout-manager-button.active {
	transform: scale(110%);
}

.adminwallet-buttons .cashout-manager-button:hover {
	color: #f79999;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.adminwallet {
    position: relative;
	top: 40px;
    width: 360px;
    height: 450px;
	transform: scale(95%);
	transition: all .3s ease;
}

.adminwallet .adminwallet-form.active {
	visibility: visible;
	opacity: 1;
}

.admin-wallet-form {
	position: absolute;
	width: 350px;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	visibility: hidden;
	opacity: 0;
    transition: all .3s ease;
}

.admin-wallet-form.active {
	visibility: visible;
	opacity: 1;
}

.virtual-account {
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	height: 180px;
	width: 95%;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	color: rgba(0, 0, 0, .50);
	background: linear-gradient(to right, #0ef, #02b4c2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.switch-button {
	position: absolute;
	top: 10%;
	right: 5%;
	width: 90px;
	height: 15px;
	border-radius: 5px;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(255, 255, 255, 0.9);
	background: linear-gradient(to right, #0ef, #02b4c2);
	box-shadow: -1px -1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset 1px 1px 2px rgba(0,0,0,0.5),
	-1px -1px 2px rgba(255,255,255,0.25);
	text-shadow: .5px 0px 0px rgba(0,0,0,0.9);
	cursor: pointer;
	user-select: none;
}

.virtual-account .virtual-balance {
	position: absolute;
	top: -5%;
	left: -34px;
	width: 320px;
	height: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	padding: 0px 10px;
	margin: 15px 40px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
}

.virtual-account .virtual-balance.active {
	visibility: visible;
	opacity: 1;
}

.virtual-account .system-balance {
	position: absolute;
	top: -5%;
	left: -34px;
	width: 320px;
	height: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	padding: 0px 10px;
	margin: 15px 40px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
}

.virtual-account .system-balance.active {
	visibility: visible;
	opacity: 1;
}

.virtual-inputBox h2 {
	position: absolute;
	top: -32%;
	left: -26%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding: 10px 0px;
}

.virtual-inputBox label {
	position: absolute;
	top: 10%;
	left: -4%;
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	padding: 10px 0px;
}

.virtual-inputBox input {
	position: relative;
	top: 30%;
	left: 20%;
	width: 70%;
	height: 80%;
	border: none;
	background: transparent;
	padding: 10px 15px;
	font-size: 23px;
	font-weight: 700;
	color: rgba(0, 0, 0, .50);
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
	user-select: none;
	pointer-events: none;
}

.virtual-errors {
	position: absolute;
	left: 0;
	bottom: 30%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.virtual-errors p {
    position: relative;
    font-size: 8px;
    font-weight: 700;
}

.virtual-errors i {
    position: relative;
    font-size: 20px;
}

.virtual-errors .bxs-check-circle { 
	font-size: 20px;
	background: linear-gradient(to right, #02adba, #015f66);
	-webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0.2);
}

.virtual-errors .blue {
	background: linear-gradient(to right, #02adba, #015f66);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0.2);
}

.virtual-errors .bxs-error-circle { 
	font-size: 20px;
	background: linear-gradient(to right, #fc5353, #b35f5f);
	-webkit-background-clip: text;
    background-clip: text;
	color: rgba(0, 0, 0, 0.2);
}

.virtual-errors .red {
	background: linear-gradient(to right, #fc5353, #b35f5f);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0.2);
}

.virtual-accountbuttons {
	position: relative;
	top: 35%;
	width: 100%;
	left: 0;
	padding: 5px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 2.5%;
}

.virtual-accountbuttons .virtual-cashin {
	left: 0;
	padding: 10px 10px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #0ef, #02b4c2);
    color: #fff;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transform: scale(90%);
	transition: all .3s ease;
}

.virtual-accountbuttons .virtual-cashin:hover {
	color: #0ef;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.virtual-history {
	position: relative;
	right: -30px;
	width: 35%;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #0ef, #02b4c2);
    color: #fff;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.virtual-history:hover {
	color: #0ef;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.virtual-transaction-history {
	position: absolute;
	bottom: 10px;
	left: 2.5%;
	width: 95%;
	height: 235px;
	background: linear-gradient(to right, #0ef, #02b4c2);
	border-radius: 15px 15px 15px 15px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.virtual-transaction-history .virtual-history-form {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.virtual-transaction-history .virtual-history-form h2 {
	position: absolute;
	top: 0;
	color: rgba(255, 255, 255, .90);
	width: 100%;
	padding: 8px 30px;
	display: flex;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0px 0px;
	background: linear-gradient(to right, #5ef75e, #3a943a);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.virtual-history-content {
	position: relative;
	top: 45px;
	width: 100%;
	height: 180px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow-x: hidden;
}

.virtual-history-content .empty {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	color: #fff;
}

.virtual-history-content .mycashin {
	position: relative;
	top: 0;
	left: 2.5%;
	width: 95%;
	height: 40px;
	display: flex;
	font-size: 7.5px;
	padding: 20px 10px;
	flex-direction: row;
	align-items: center;
	text-align: left;
	border-radius: 5px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
}

.virtual-history-content .mycashin .pending {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #ffad33;
	border-radius: 5px;
}

.virtual-history-content .mycashin .approved {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #0ef;
	border-radius: 5px;
}

.virtual-history-content .mycashin .added {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #5ef75e;
	border-radius: 5px;
}

.virtual-history-content .mycashin .rejected {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #fa8282;
	border-radius: 5px;
}

.virtual-history-content .mycashin .deducted {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #ffad33;
	border-radius: 5px;
}

.virtual-history-content .mycard-view {
	position: absolute;
	right: 5px;
	transform: scale(90%);
}

.virtual-history-content .myview {
	height: 20px;
	padding: 2.5px 10px;
	background: linear-gradient(to right, #0ef, #015f66);
    color: #fff;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.virtual-history-content .myview:hover {
	color: #0ef;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.overlay-bg1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0);
    transition: all .3s ease;
}

.overlay-bg1.active {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.virtual-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0);
    transition: all .3s ease;
}

.virtual-overlay.active {
    opacity: 1;
    pointer-events: all;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.virtual-cashin-form {
	position: fixed;
	top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(100%);
	width: 320px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	margin: 0;
	z-index: 1599;
	visibility: hidden;
	opacity: 0;
    transition: all .3s ease;
}

.virtual-cashin-form.active {
	top: 55%;
    opacity: 1;
    visibility: visible;
}

.virtual-cashin-form h2 {
	position: absolute;
	top: 0;
	height: 80px;
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	color: rgba(255, 255, 255, .95);
	background: linear-gradient(to right, #0ef, #02b4c2);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.admin-input {
	width: 220px;
}

.admin-input .inputBox {
	position: relative;
	display: flex;
    margin-bottom: 10px;
	height: 35px;
	width: 100%;
    margin: 25px 0;
}

.admin-input .inputBox input {
	position: relative;
	left: 10%;
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	padding: 0 25px;
	font-size: 12px;
	color: rgba(0, 0, 0, .90);
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
}

.admin-input .inputBox input::placeholder {
	color: rgba(0, 0, 0, .50);
}

.admin-input .inputBox i {
	position: absolute;
	left: -13%;
	width: 35px;
	height: 35px;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.90);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
}

.buttons {
	position: absolute;
	left: 0;
	bottom: 5%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20%;
	transition: all .3s ease;
}

.buttons .cancel {
	width: 30%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #fc5353, #b35f5f);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.buttons .cancel:hover {
	color: #f79999;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.buttons .create {
	width: 30%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #5ef75e, #3a943a);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.buttons .create:hover {
	color: #71f571;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.adminwallet .cashin {
    position: absolute;
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
    transition: all .3s ease;
}

.adminwallet .cashin.active {
	visibility: visible;
	opacity: 1;
}

.cashin-form {
	position: absolute;
	bottom: 10px;
	width: 95%;
	height: 95%;
	background: linear-gradient(to right, #0ef, #02b4c2);
	border-radius: 15px 15px 15px 15px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.cashin .cashin-form h2 {
	position: absolute;
	top: 0;
	color: rgba(255, 255, 255, .90);
	width: 100%;
	padding: 20px 0;
	display: flex;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0px 0px;
	background: linear-gradient(to right, #5ef75e, #3a943a);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.cashin-content {
	position: relative;
	top: 15%;
	width: 100%;
	height: 84%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow-x: hidden;
}

.cashin-content .empty {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	color: #fff;
}

.cashin-content .mycashin {
	position: relative;
	top: 0;
	left: 2.5%;
	width: 95%;
	height: 40px;
	display: flex;
	font-size: 8px;
	padding: 20px 10px;
	flex-direction: row;
	align-items: center;
	text-align: left;
	border-radius: 5px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
}

.cashin-content .mycashin .pending {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #ffad33;
	border-radius: 5px;
}

.cashin-content .mycashin .approved {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #0ef;
	border-radius: 5px;
}

.cashin-content .mycashin .added {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #5ef75e;
	border-radius: 5px;
}

.cashin-content .mycashin .rejected {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #fa8282;
	border-radius: 5px;
}

.cashin-content .mycashin .mycard-view {
	position: absolute;
	right: 5px;
	transform: scale(90%);
}

.mycard-view .myview {
	height: 20px;
	padding: 2.5px 10px;
	background: linear-gradient(to right, #0ef, #015f66);
    color: #fff;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.mycard-view .myview:hover {
	color: #0ef;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.cashin-card {
	position: absolute;
	top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(110%);
	width: 290px;
	height: 400px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	padding: 10px 10px;
	margin: 0;
	z-index: 2001;
	opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.cashin-card.active {
	top: 50%;
    opacity: 1;
    visibility: visible;
}

.cashin-card h2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	font-size: 15px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	color: rgba(255, 255, 255, .95);
	background: linear-gradient(to right, #0ef, #02b4c2);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.info1 {
	position: absolute;
	top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 10px;
	height: 30px;
	width: 80%;
    margin: 20px 0;
}

.info1 label {
	position: absolute;
	left: 0;
	font-size: 7px;
	color: rgba(0, 0, 0, 0.90);
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
	position: relative;
	top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 5px;
	height: 30px;
	width: 80%;
    margin: 15px 0;
}

.info label {
	position: absolute;
	left: 0;
	font-size: 8px;
	color: rgba(0, 0, 0, 0.90);
	display: flex;
	justify-content: center;
	align-items: center;
}

.info input {
	position: relative;
	left: 30%;
	width: 80%;
	height: 100%;
	border: none;
	background: transparent;
	padding: 0 10px;
	font-size: 9px;
	color: rgba(0, 0, 0, .60);
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
	user-select: none;
	pointer-events: none;
}

.receipt {
	position: absolute;
	bottom: 50px;
	right: 50%;
	height: 50px;
	width: 50px;
	font-size: 8.5px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 2px solid #fff;
	background: none;
	background-size: cover;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
	overflow: hidden;
	cursor: pointer;
}

.receipt img {
    max-width: 180%;
    max-height: 180%;
}

.overlay-bg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 2005;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0);
    transition: all .3s ease;
}

.overlay-bg2.active {
    opacity: 1;
    pointer-events: all;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.receipt2 {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%) scale(90%);
	width: 290px;
	height: 460px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	z-index: 2500;
	visibility: hidden;
	opacity: 0;
    transition: all .3s ease;
}

.receipt2.active {
	top: 50%;
	visibility: visible;
	opacity: 1;
}

.receipt2 .receipt-card {
	position: absolute;
	top: 10px;
	height: 90%;
	width: 90%;
	font-size: 8.5px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background: linear-gradient(to right, #0ef, #02b4c2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	background-size: cover;
	overflow: hidden;
}

.receipt2 .receipt-card img {
    max-width: 97%;
    max-height: 97%;
}

.close-button {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(90%);
	transition: all .3s ease;
}

.close-button .close {
	padding: 5px 20px;
	background: linear-gradient(to right, #fc7474, #d17562);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.close-button .close:hover {
	color: #f79999;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.fund-card-button {
	position: absolute;
	left: 5%;
	bottom: 3%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(90%);
	gap: 10%;
	transition: all .3s ease;
}

.fund-card-button .close {
	padding: 4px 20px;
	background: linear-gradient(to right, #fc7474, #d17562);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.fund-card-button .close:hover {
	color: #f79999;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.fund-card-button .reject {
	padding: 4px 20px;
	background: linear-gradient(to right, #fc5353, #b35f5f);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.fund-card-button .reject:hover {
	color: #f79988;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.fund-card-button .accept {
	padding: 4px 20px;
	background: linear-gradient(to right, #5ef75e, #3a943a);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.fund-card-button .accept:hover {
	color: #71f571;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.adminwallet .cashout {
    position: absolute;
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
    transition: all .3s ease;
}

.adminwallet .cashout.active {
	visibility: visible;
	opacity: 1;
}

.cashout-form {
	position: absolute;
	bottom: 10px;
	width: 95%;
	height: 95%;
	background: linear-gradient(to right, #0ef, #02b4c2);
	border-radius: 15px 15px 15px 15px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.cashout .cashout-form h2 {
	position: absolute;
	top: 0;
	color: rgba(255, 255, 255, .90);
	width: 100%;
	padding: 20px 0;
	display: flex;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0px 0px;
	background: linear-gradient(to right, #5ef75e, #3a943a);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.cashout-content {
	position: relative;
	top: 15%;
	width: 100%;
	height: 84%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow-x: hidden;
}

.cashout-content .empty {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	color: #fff;
}

.cashout-content .mycashout {
	position: relative;
	top: 0;
	left: 2.5%;
	width: 95%;
	height: 40px;
	display: flex;
	font-size: 7.5px;
	padding: 20px 10px;
	flex-direction: row;
	align-items: center;
	text-align: left;
	border-radius: 5px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
}

.cashout-content .mycashout .pending {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #ffad33;
	border-radius: 5px;
}

.cashout-content .mycashout .approved {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #5ef75e;
	border-radius: 5px;
}

.cashout-content .mycashout .rejected {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #fa8282;
	border-radius: 5px;
}

.cashout-content .mycashout .deducted {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	border: 1.5px solid #fa8282;
	border-radius: 5px;
}

.cashout-content .mycashout .mycard-view {
	position: absolute;
	right: 5px;
	transform: scale(90%);
}

.mycard-view .myview {
	padding: 2.5px 10px;
	background: linear-gradient(to right, #0ef, #015f66);
    color: #fff;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.mycard-view .myview:hover {
	color: #0ef;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.overlay-bg3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0);
    transition: all .3s ease;
}

.overlay-bg3.active {
    opacity: 1;
    pointer-events: all;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.addmoney-form {
	position: fixed;
	top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(110%);
	width: 290px;
	height: 400px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
	padding: 10px 10px;
	margin: 0;
	z-index: 2001;
	opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.addmoney-form.active {
	top: 50%;
    visibility: visible;
	opacity: 1;
}

.addmoney-form h2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	color: rgba(255, 255, 255, .95);
	background: linear-gradient(to right, #0ef, #02b4c2);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
	inset 1px 1px 2px rgba(255,255,255,0.25),
	inset -1px -1px 2px rgba(0,0,0,0.5);
}

.addmoney-form .info1 {
	position: absolute;
	top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 10px;
	height: 30px;
	width: 80%;
    margin: 20px 0;
}

.addmoney-form .info1 label {
	position: absolute;
	left: 0;
	font-size: 7px;
	color: rgba(0, 0, 0, 0.90);
	display: flex;
	justify-content: center;
	align-items: center;
}

.addmoney-form .info2 {
	position: relative;
	top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 10px;
	height: 30px;
	width: 80%;
    margin: 15px 0;
}

.addmoney-form .info2 label {
	position: absolute;
	left: 0;
	font-size: 8px;
	color: rgba(0, 0, 0, 0.90);
	display: flex;
	justify-content: center;
	align-items: center;
}

.addmoney-form .info2 input {
	position: relative;
	left: 30%;
	width: 80%;
	height: 100%;
	border: none;
	background: transparent;
	padding: 6px 10px;
	font-size: 9px;
	color: rgba(0, 0, 0, .60);
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
}

.load-money {
	position: relative;
	top: 30px;
}

.load-money .info-receipt {
	position: absolute;
	bottom: -75px;
	right: 50%;
	height: 50px;
	width: 50px;
	font-size: 8.5px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 2px solid #fff;
	background: none;
	background-size: cover;
	box-shadow: -4px -4px 8px rgba(255,255,255,1),
	inset 4px 4px 8px rgba(0,0,0,0.10),
	inset -4px -4px 8px rgba(255,255,255,1),
	4px 4px 8px rgba(0,0,0,0.10);
	overflow: hidden;
	cursor: pointer;
}

.load-money .info-receipt img {
    max-width: 180%;
    max-height: 180%;
}

.addmoney-form .buttons-form {
	position: absolute;
	left: 0;
	bottom: 3%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20%;
	transform: scale(80%);
	transition: all .3s ease;
}

.addmoney-form .buttons-form .cancel {
	width: 30%;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #fc5353, #b35f5f);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.addmoney-form .buttons-form .cancel:hover {
	color: #f79999;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.addmoney-form .buttons-form .add {
	width: 30%;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #5ef75e, #3a943a);
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 90px;
    cursor: pointer;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25),
		inset 2px 2px 3px rgba(255,255,255,0.25),
		inset -2px -2px 3px rgba(0,0,0,0.5);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: all .3s ease;
}

.addmoney-form .buttons-form .add:hover {
	color: #71f571;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25),
	inset 2px 2px 3px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: all .3s ease;
}


@media screen and (max-width: 768px) {
	.adminwallet-buttons {
		top: 90px;
		transform: scale(90%);
	}
	
	.adminwallet {
		transform: scale(90%);
	}
	
}